@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");

//font
$primary-font: 'Poppins', sans-serif;
$secondary-font: 'Ubuntu', sans-serif;

// media queries
$phone: 480px;
$tablet: 768px;
$desktop: 1200px;

//colors
$primaryColor: #ff5500; 
$secondaryColor: #0B0146; 
